langchain
langchain_community
langchain_core
faiss-cpu
datasets
transformers
bitsandbytes
ninja>=1.11.1
packaging>=23.2
flash-attn @ https://github.com/Dao-AILab/flash-attention/releases/download/v2.5.6/flash_attn-2.5.6+cu118torch2.0cxx11abiFALSE-cp310-cp310-linux_x86_64.whl